# Assignment_16

Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
#Ans:-
years_list = [i for i in range(2000,2000+6)]
print(years_list)

[2000, 2001, 2002, 2003, 2004, 2005]

Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year

In [2]:
#Ans:-
print(years_list[3])

2003

Q3.In the years list, which year were you the oldest?

In [3]:
#Ans:
print(years_list[-1])

2005

Q4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [6]:
#Ans:-
things = [ele+'ella' for ele in ['mozzar','cinder','salmon']]
print(things)

['mozzarella', 'cinderella', 'salmonella']

Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [11]:
#Ans:-
for i in range(len(things)):
    things[i]=things[i].capitalize()
print(things)

['Mozzarella', 'Cinderella', 'Salmonella']

Q6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [13]:
#Ans:-
surprise_list = ["Groucho", "Chico" , "Harpo"]
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [15]:
#Ans:-
print(surprise_list[-1].lower()[::-1].capitalize())

Oprah

Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [16]:
#Ans:-
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

Q9. Write the French word for walrus in your three-word dictionary e2f.

In [17]:
#Ans:-
print(e2f['walrus'])

morse

Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [21]:
#Ans:-
f2e = dict([ele[::-1] for ele in e2f.items()])
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

Q11. Print the English version of the French word chien using f2e.

In [22]:
#Ans:-
print(f2e['chien'])

dog

Q12. Make and print a set of English words from the keys in e2f.

In [23]:
#Ans:-
print(list(e2f.keys()))

['dog', 'cat', 'walrus']

Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [24]:
#Ans:-
life = {'animals':{'cats':['Henri','Grumpy','Lucy'], 'octopi':{}, 'emus':{}}, 'plants':{},'other':{}}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

Q14. Print the top-level keys of life.

In [25]:
#Ans:-
print(list(life.keys()))

['animals', 'plants', 'other']

Q15. Print the keys for life['animals'].

In [27]:
#Ans:-
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

Q16. Print the values for life['animals']['cats']

In [28]:
#Ans:-
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']